.menu {
  /* add correct code to place the menu correctly.*/
  justify-content:space-evenly ;
  display: flex;
  background-color: black;
  font-size: 30px;
  font-family: sans-serif;
  font-weight: 400;

  flex-wrap: wrap;
  border:  solid red;
}
body {
  background-color: rgb(0, 195, 255);
}
.grid {
  /* add correct code to place the grid elements 
  one beside the other equally.   */
  justify-content:space-evenly ;
 display: flex;
 flex-wrap: wrap;
  font-family: sans-serif;
 
}

.grid img {
  border: 2px solid black;
  border-radius: 50px;

}
.origami {
  border-radius: 20px;
  background-color: white;
  margin: 20px;
  flex-wrap: wrap;
  width: 310px;
  font-family: fantasy;
}
.languages{
  border:  solid red;
 text-align: justify;
 background-color: white;
 border-radius: 50px;

}
